<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/css/board/boardtip.css">
</head>
<body>
<div th:replace="header.html :: header"></div>
<div class="bg">
  <div class="title">
    <h1>커뮤니티</h1>
  </div>
</div>
<div class="container">
  <div class="tipboard">
    <div class="row tiptitle">
      <div class="col-md-9">
        <h3 id="getbtitle"></h3>
        <h6 class="bwiter" id="bwiter"></h6>
      </div>
      <div class="col-md-3 d-flex justify-content-end">
        <div class="row">
          <div>
            <h6 id="bdate"></h6>
          </div>
          <div>
            <div id="deletebutton1">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="offset-2 col-md-7 tipimg">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner" id="getbimg">
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
    <div>
      <div id="getbcontent"></div>
    </div>
  </div>
  <div class="row tipreply">
    <div id="replyinput">
      <input class="replyinput" type="text" id="reply" placeholder="댓글을 입력해주세요">
      <button class="replybtn" type="button" onclick="replysave()">등록</button>
    </div>
    <div id="deletebutton">

    </div>
    <div id="replydiv">
      <div id="replytable">


      </div>

    </div>
  </div>
</div>


<div class="modal" id="myModal">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">꿀팁 공유하기</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="saveform">
          <div class="row">
            <div class="col-md-6 modal_left">
              <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner" id="preview">
                </div>
              </div>
              <div>
                <div class="filebox">
                  <input class="upload-name" value="첨부파일" placeholder="첨부파일">
                  <label for="bimg">파일찾기</label>
                <input type="file" id="bimg" name="bimg" multiple>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div>
                <input type="text" class="inputtxt" placeholder="제목을 입력하세요" id="btitle" name="btitle">
              </div>
              <div>
                <textarea class="inputtxt" rows="18"  placeholder="내용을 입력하세요" name="bcontent"  id="bcontent" ></textarea>
              </div>
              <div>
                <button class="mypetadd"  type="button" onclick="tipupdate()">등록하기</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div th:replace="footer.html :: footer"></div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" ></script>
<script  src="http://code.jquery.com/jquery-latest.min.js"></script>
<script src="/js/board/tipview.js"></script>
</body>
</html>